/*Оформление параграфов*/

body {
	background-color:#3A3A3A;
	background-image:url(images/18.jpg);
	background-repeat:repeat-x;
}

#page {
	width:960px;
	margin:0 auto;
}

.strong-red {
	font-weight:bold;
	color:#33a7ff;
	margin-top: 400px;
	text-align: justify;
}

.light-blue {
	font-weight:lighter;
	color:blue;
}

.light-blue {
	font-weight:lighter;
	color:black;
}